<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Inventário Mercadinho - Início</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
	<link rel="stylesheet" type="text/css" href="resources/css/menu.css">
</head>


<body>
	<nav id="menu">
		<ul>
			<li><a href="/mercado/novo-produto.html">Novo Produto</a></li>
			<li><a href="/mercado/novo-fabricante.html">Novo Fabricante</a></li>
			<li><a href="/mercado/lista-fabricantes.html">Relação de Fabricantes</a></li>
		</ul>
	</nav>
	<br>
	<div id="inicio" class="container-fluid table">
		<h4>Lista de Produtos</h4>
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th>Nome</th>
				<th>Fabricante</th>
				<th>Volume</th>
				<th>Unidade</th>
				<th>Estoque</th>
				<th></th>
			</tr>
			<tbody id="event-table">
				<tr v-for="produto in listaProdutos">
					<td>{{ produto.nome }}</td>
					<td>{{ produto.fabricante.nome }}</td>
					<td>{{ produto.volume }}</td>
					<td>{{ produto.unidade }}</td>
					<td>{{ produto.estoque }}</td>
					<td class="text-center custom-action-link">
						<span class="orange" @click="updateProduto(produto.id)">&#9998;
							<i class="fa fa-edit fa-fw"></i>
						</span>
						<span class="firebrick" @click="removerProduto(produto.id)">&#10006;
							<i class="fa fa-times fa-fw"></i>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>
	<script src="https://unpkg.com/vue"></script>




</body>

</html>